.NavBar {
  background-color: #27292b;
  display: flex;
  justify-content: space-between;
}
.LoginBtn {
  background-color: #27292b;
  border: none;
  color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 6%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.LoginBtn:hover {
  background-color: #383a3c;
  cursor: pointer;
}
.RegisterBtn {
  background-color: #0d8dd6;
  border: none;
  color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 6%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.RegisterBtn:hover {
  background-color: #1e9ee7;
  cursor: pointer;
}
.RegisterBtn2:hover {
  background-color: #1e9ee7;
  cursor: pointer;
}
